.submitform {
    min-width: 200px;
    width: 100%;
    display: inline-block;
}

.submitform label {
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
    color: #2980b9;
}

.submitform input {
    height: 20px;
    border: solid 0.5px #2980b9;
    width: 150px;
}

.submitform button[type=submit] {
    border: none;
    font-size: 0.8em;
    font-weight: bold;

    height: 25px;
    color: #FFFFFF;
    background: #2980b9;
    outline: none;
    cursor: pointer;
}

.submitform button[type=submit]:hover {
    background: #00346D;
}
